.btn {
    margin: 5px;
    float: right;
}

.card {
    margin-bottom: 2%;
}

body {
    font-size: 20px;
    background-image: url("../image/congruent_outline.png")
}

h4 {
    color: white
}

h3 {
    font-size: 20px;
    line-height: 40px
}

.modal-content {
    width: 125%;
}
